@import url(./fonts.css);

:root {
    --black:#0C0C0C;
    --white:#FFF;
    --green:#69CF17;
    --parda: rgba(105, 207, 23, 0.90);
    --Roboto: "Roboto";
    --Raleway: "Raleway";
}
.container {
    max-width: 1027px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}




/* HEADER */
.header {
    background-color: var(--black);
}
.header-content {
    display: flex;
}
.header-content__icon {
    display: flex;
    margin-right: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-content__iconca {
    width: 20px;
    height: 23.077px;
    flex-shrink: 0;
    color: var(--white);
    margin-right: 5px;
}
.header-content__span {
    color: var(--white);
    font-family: var(--Roboto);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--white);    
}
.header-content__elyam {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-content__el {
}
.header-content__category {
    color: var(--white);
    text-align: right;
    font-family: var(--Roboto);
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    margin-left: 20px;


}
/* HEADER */

/* SPAN */
    
/* SPAN */

/* STREET 88 */
.street88 {
    background-color: var(--black);
}
.street88-77 {
    display: flex;
    margin-left: 100px;
}
.rectangle {
    width: 196px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 4px solid #06600F;
    background: rgba(10, 148, 24, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 320px;
}
.rectangle-title {
    color: var(--white);
    text-align: center;
    font-family: var(--Roboto);
    font-size: 26px;
    font-weight: 400;
    line-height: 20px; 
}
.category-menu {
    display: flex;
    width: 77px;
    height: 65px;
    flex-shrink: 0;
    background: rgba(105, 207, 23, 0.75);
}
.category-menu :hover {
    cursor: pointer;
    width: max-content;
    height: max-content;
    flex-shrink: 0;
    background: rgba(105, 207, 23, 0.75);
}
.category-text {
    margin-right: 20px;
    color: var(--white);
    text-align: right;
    font-family: var(--Raleway);
    font-size: 18px;
    font-weight: 400;
}
/* STREET88 */

/* HERO */
.hero {
    width: 1600px;
    height: 700px;
    flex-shrink: 0;
}
.hero-bg {
    width: 100%;
    height: 100%;
    background-image: url(../img/burger\ bg.jpg);
}
.hero-section {
    left: 0;
    right: 0;
    margin-left: -245px;
}
.hero-section__title {
    padding-top: 167px;
    padding-bottom: 18px;
    color: var(--green);
    font-family: var(--Raleway);
    font-size: 72px;
    font-weight: 900;
}
.hero-section__govyadina {
    width: 155px;
    height: 28px;
    flex-shrink: 0;
    color: var(--green);
    font-family: var(--Raleway);
    font-size: 36px;
    font-weight: 400;
    line-height: 17px;
    padding-bottom: 18px;
}
.hero-section__text {
    width: 1110px;
    height: 72px;
    flex-shrink: 0;
    color: var(--white);
    font-family: var(--Raleway);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; 
    padding-bottom: 30px;
}
.hero-section__a-lar {
    display: flex;
}
.hero-section__rectangle {
    width: 285px;
    height: 103px;
    flex-shrink: 0;
    background: rgba(105, 207, 23, 0.50);
    backdrop-filter: blur(9px);
    margin-right: 570px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section__price {
    width: 133px;
    height: 38px;
    flex-shrink: 0;
    color: var(--white);
    text-align: right;
    font-family: var(--Raleway);
    font-size: 50px;
    font-weight: 100;
    line-height: 25px; 
    

}
.hero-sextion__all {
    width: 255px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 6px;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section__btn {
    color: var(--white);
    text-align: right;
    font-family: var(--Raleway);
    font-size: 18px;
    font-weight: 400;
}
/* HERO */

/* MAIN */
.main-cards {
    width: 370px;
    height: 524px;
    flex-shrink: 0;
    border-radius: 4px; 
}
.main-card__section {
    flex-wrap: wrap;
    display: flex;
}
.main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: var(--black);
}
.main-card__image {
    width: 338px;
    height: 325px;
    flex-shrink: 0;
}
.main-card__image:hover {
    background-image: url(../img/hover.burg.png);
}
.main-card__title {
    width: 143.831px;
    color: var(--white);
    font-family: var(--Raleway);
    font-size: 19px;
    font-weight: 700;
    line-height: 15px; 
}
.main-card__text {
    width: 338.732px;
    text-align: center;
    height: 124px;
    flex-shrink: 0;
    color: var(--white);
    font-family: var(--Raleway);
    font-size: 19px;
    font-weight: 400;
    line-height: 25px; 

}
/* MAIN */

/* SPAN SECTION */
.span {
   width: 100%;
   height: 80px; 
}
.span-title {
    color:  var(--green);
    font-family: var(--Raleway);
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

}
/* SPAN SECTION */